container_commands:
  01_makemigrations:
        command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
  02_migrate:
        command: "source /var/app/venv/*/bin/activate && python manage.py migrate"

option_settings: 
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: smartflowapi.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

   